footer {
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--brand-400) 1%, var(--brand-100));
}

.container-footer-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    overflow: hidden;
}

/* .circle-footer {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 34rem;
    background-color: var(--brand-200);
    border-radius: 100%;
} */

h3, p {
    z-index: 10;
}