<form>
    <fieldset>
        <label for="title">Título</label>
        <input type="text" id="title" placeholder="Digite um título"/>
    </fieldset>
    <fieldset>
        <label for="description">Descrição</label>
        <textarea name="description" id="description" placeholder="Digite uma descrição do seu momento" required></textarea>
    </fieldset>
    <fieldset>
        <label for="input-image">Imagem</label>
        <input type="file" name="input-image" id="input-image">
    </fieldset>
    <input type="submit" value="{{ btnText }}">
</form>