* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /*definir font family e color default*/
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}
a:hover {
    color: #dec129
}